.App {
  text-align: center;
  margin-top:0;
}

.header{
  display: flex;
  background-color:indigo;
  justify-content: space-evenly;
  text-align: center;
}
h1{
  padding:15px;
}

.table{
  text-align:center;
  padding-left:425px;
}


.data{
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.data-val{
  padding:10px;
  margin-top: 10px;
}
h4{
  padding-left: 80px;
}

.error{
  flex-direction: col;
  margin-top: 10px;

}

.link{
  display: flex;
  justify-content: space-between;
}

h2{
  padding-left: 40px;
}